Use `pip` to install `twitter`.

In [2]:
!pip install twitter

Requirement already satisfied: twitter in /opt/conda/lib/python3.6/site-packages
You are using pip version 9.0.3, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

Import `TwitterStream` and `OAuth` from `twitter`.

In [3]:
from twitter import TwitterStream, OAuth

### `oauth`

Create a new object called `oauth` using `OAuth`. 

    OAuth(token, token_secret, consumer_key, consumer_secret)

In [4]:
token           = "2196313819-Z4YEqaPB2COheQimxQ8ZODoRDSn8S6s2j5o7HuV"
token_secret    = "BasDXMjQ8FpfyWuuZcY4svZgtxHLwT1gYRjuj2cMTODl5"
consumer_key    = "ZCIZTporN63qlOd9BeCSmiPha"
consumer_secret = "vdcLUxkO2hm4YF4tucBoyqFpdxuIlFJShWKCi8lK3zjQielpiC"

In [5]:
oauth = OAuth(token, token_secret, consumer_key, consumer_secret)

Create a new object called `twitter_stream` using `TwitterStream`.

Use the argument `auth=oauth` referencing the `oauth` object you just made.

### `twitter_stream`

In [6]:
twitter_stream = TwitterStream(auth=oauth)

### `bounding_box`

Create a string called `bounding_box`. The string should contain the geo-coordinates of a bounding box separated by commas. These values are for Santa Monica:

    -118.5137323688,34.0001996344,-118.4702449172,34.0331651696
    
You can make your own here: https://boundingbox.klokantech.com. Be sure to specify CSV RAW to get the values in this format.

![](https://www.evernote.com/l/AAH3H9KGE6hD9JpPJPFncw09exRyoYSid5IB/image.png)

In [7]:
bounding_box = '-118.5137323688,34.0001996344,-118.4702449172,34.0331651696'

### `tweet_iterator`

Create an object called `tweet_iterator`. 

1. Use `twitter_stream`.
1. Apply `.statuses` to grab statuses.
1. Apply a `.filter()` with the argument `locations=bounding_box`.

In [8]:
tweet_iterator = (twitter_stream
                  .statuses
                  .filter(locations=bounding_box))

In [26]:
next(tweet_iterator)

{'created_at': 'Tue Jul 24 00:57:16 +0000 2018',
 'id': 1021559907299024897,
 'id_str': '1021559907299024897',
 'text': "I'm at Terminal 1 in Los Angeles, CA https://t.co/rVmj3Ndjxh",
 'source': '<a href="http://foursquare.com" rel="nofollow">Foursquare</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 29371689,
  'id_str': '29371689',
  'name': 'EL That Boii',
  'screen_name': '0hS0Fly',
  'location': 'Bay Area, Ca',
  'url': 'http://blulightz.wordpress.com',
  'description': 'Educated. Queer. Human.',
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 227,
  'friends_count': 330,
  'listed_count': 18,
  'favourites_count': 1427,
  'statuses_count': 29768,
  'created_at': 'Tue Apr 07 03:38:40 +0000 2009',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': '642D8B',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme14/bg.gif',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme14/bg.gif',
  'profile_background_tile': True,
  'profile_link_color': '2F7BBD',
  'profile_sidebar_border_color': '7D66D9',
  'profile_sidebar_fill_color': 'FFFFFF',
  'profile_text_color': '3D1957',
  'profile_use_background_image': True,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/859144122153697281/Aht3rYdz_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/859144122153697281/Aht3rYdz_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/29371689/1486595129',
  'default_profile': False,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': {'type': 'Point', 'coordinates': [33.94572296, -118.40114903]},
 'coordinates': {'type': 'Point', 'coordinates': [-118.40114903, 33.94572296]},
 'place': {'id': '3b77caf94bfc81fe',
  'url': 'https://api.twitter.com/1.1/geo/id/3b77caf94bfc81fe.json',
  'place_type': 'city',
  'name': 'Los Angeles',
  'full_name': 'Los Angeles, CA',
  'country_code': 'US',
  'country': 'United States',
  'bounding_box': {'type': 'Polygon',
   'coordinates': [[[-118.668404, 33.704538],
     [-118.668404, 34.337041],
     [-118.155409, 34.337041],
     [-118.155409, 33.704538]]]},
  'attributes': {}},
 'contributors': None,
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [],
  'urls': [{'url': 'https://t.co/rVmj3Ndjxh',
    'expanded_url': 'https://www.swarmapp.com/c/5qSNtcDZJ3J',
    'display_url': 'swarmapp.com/c/5qSNtcDZJ3J',
    'indices': [37, 60]}],
  'user_mentions': [],
  'symbols': []},
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1532393836222'}

Get the next value from the `tweet_iterator` and store it as the variable `this_tweet`.

In [9]:
this_tweet = next(tweet_iterator)


What is the type of `this_tweet`?

In [10]:
type(this_tweet)

twitter.api.TwitterDictResponse

Display the keys of `this_tweet`.

In [11]:
this_tweet.keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'display_text_range', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'])

Display the `text` and `user` of `this_tweet`.

In [12]:
this_tweet['text']

'@PaulieRobot3000 @DonCheadle Great selective outrage and lack of comprehension bro'

In [13]:
this_tweet['user']

{'id': 36475511,
 'id_str': '36475511',
 'name': 'Jissan Huq',
 'screen_name': 'Noteless',
 'location': 'Los Angeles',
 'url': None,
 'description': "I've drawn 1,000+ Ninja Turtles. UCONN Alum | LA Clippers Advocate | Conan Grown, Seinfeld Molded",
 'translator_type': 'none',
 'protected': False,
 'verified': False,
 'followers_count': 87,
 'friends_count': 366,
 'listed_count': 7,
 'favourites_count': 14965,
 'statuses_count': 4508,
 'created_at': 'Wed Apr 29 20:46:12 +0000 2009',
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': True,
 'lang': 'en',
 'contributors_enabled': False,
 'is_translator': False,
 'profile_background_color': '1A1B1F',
 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme9/bg.gif',
 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme9/bg.gif',
 'profile_background_tile': False,
 'profile_link_color': '2FC2EF',
 'profile_sidebar_border_color': '181A1E',
 'profile_sidebar_fill_color': '252429',
 'profile_text_color': '666666',
 'profile_use_background_image': True,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/944010854445473792/k7rj2E1E_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/944010854445473792/k7rj2E1E_normal.jpg',
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/36475511/1513904702',
 'default_profile': False,
 'default_profile_image': False,
 'following': None,
 'follow_request_sent': None,
 'notifications': None}

## Collect Tweets

Create an empty list called `tweets`.

Use a `for`-loop to collect ten tweets and add them to this list.

In [14]:
tweets = []

In [27]:
for i in range(10):
    tweets.append(next(tweet_iterator))

In [16]:
len(tweets)

10

Display `tweets` in a DataFrame.

In [17]:
import pandas as pd

In [18]:
pd.DataFrame(tweets)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,possibly_sensitive,quote_count,reply_count,retweet_count,retweeted,source,text,timestamp_ms,truncated,user
0,None,None,Tue Jul 24 00:57:11 +0000 2018,"[27, 36]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@leo_wizowski @_simplydeee LMFAO 😂😂😂,1532393831252,False,"{'id': 43802582, 'id_str': '43802582', 'name':..."
1,None,None,Tue Jul 24 00:57:11 +0000 2018,"[13, 13]","{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 1021559880862199808, 'id_str...",NaN,0,False,low,...,False,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@TapiaStacey https://t.co/LmsuegctKT,1532393831957,False,"{'id': 3189169938, 'id_str': '3189169938', 'na..."
2,None,None,Tue Jul 24 00:57:12 +0000 2018,"[14, 16]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@sarasalmonxx RT,1532393832213,False,"{'id': 780171209346396160, 'id_str': '78017120..."
3,None,None,Tue Jul 24 00:57:12 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,0,False,"<a href=""http://twitter.com"" rel=""nofollow"">Ge...",TEST_GEO_Hierarchy: 24040ed1-b77e-4342-8fb4-53...,1532393832175,False,"{'id': 758415480881164288, 'id_str': '75841548..."
4,None,None,Tue Jul 24 00:57:12 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,0,False,"<a href=""http://twitter.com"" rel=""nofollow"">Ge...",TEST_GEO_Hierarchy: b1034247-7a5b-4eea-8117-73...,1532393832331,False,"{'id': 758415480881164288, 'id_str': '75841548..."
5,None,"{'type': 'Point', 'coordinates': [-121.7128867...",Tue Jul 24 00:57:12 +0000 2018,NaN,"{'hashtags': [{'text': 'strawberries', 'indice...",NaN,NaN,0,False,low,...,False,0,0,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",#strawberries #strawberrypicking #gizdichranch...,1532393832396,False,"{'id': 54907176, 'id_str': '54907176', 'name':..."
6,None,"{'type': 'Point', 'coordinates': [-118.243, 34...",Tue Jul 24 00:57:12 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,NaN,0,False,low,...,False,0,0,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",@yo_megs as Drake is my energy 😂❤️ with wearem...,1532393832357,False,"{'id': 186131512, 'id_str': '186131512', 'name..."
7,None,"{'type': 'Point', 'coordinates': [-118.2550533...",Tue Jul 24 00:57:12 +0000 2018,NaN,"{'hashtags': [{'text': 'getextra', 'indices': ...",NaN,{'full_text': 'You call it dramatic while I ca...,0,False,low,...,False,0,0,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",You call it dramatic while I call it art. Be e...,1532393832741,True,"{'id': 313710604, 'id_str': '313710604', 'name..."
8,None,"{'type': 'Point', 'coordinates': [-122.47846, ...",Tue Jul 24 00:57:14 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,NaN,0,False,low,...,False,0,0,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",Bay. @ Golden Gate Bridge https://t.co/HDJv5Ex79q,1532393834501,False,"{'id': 2471129989, 'id_str': '2471129989', 'na..."
9,None,"{'type': 'Point', 'coordinates': [-117.3897312...",Tue Jul 24 00:57:15 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': 'Warfighter Made's Adrenalin The...,0,False,low,...,False,0,0,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...","Warfighter Made's Adrenalin Therapy Saturday, ...",1532393835930,True,"{'id': 1340762359, 'id_str': '1340762359', 'na..."

Display just the test of the tweets using DataFrame.

In [19]:
pd.DataFrame(tweets).text

0                 @leo_wizowski @_simplydeee LMFAO 😂😂😂
1                @TapiaStacey  https://t.co/LmsuegctKT
2                                     @sarasalmonxx RT
3    TEST_GEO_Hierarchy: 24040ed1-b77e-4342-8fb4-53...
4    TEST_GEO_Hierarchy: b1034247-7a5b-4eea-8117-73...
5    #strawberries #strawberrypicking #gizdichranch...
6    @yo_megs as Drake is my energy 😂❤️ with wearem...
7    You call it dramatic while I call it art. Be e...
8    Bay. @ Golden Gate Bridge https://t.co/HDJv5Ex79q
9    Warfighter Made's Adrenalin Therapy Saturday, ...
Name: text, dtype: object

In [46]:
tweet_df = pd.DataFrame(tweets)
tweet_df['text']

0    @jenelleriley See it while you can, the vultur...
1                                            Me AF lol
2    @Storageeccount @SoDamnHigH @VanityLaviie Go a...
3    @katsuoworld It don't be funny it'll just be a...
4                                       @FoxNews 🤣🤣🤣🤣🤣
5    If you’re ever down on yourself,,  just know t...
6    @Tim_Dawg_ @Jonah_Rock They kept calling him b...
7                               @Gizmodo I wonder why?
8    Gonna be drinking tonight so if you wanna real...
9    @OMG_Dj_Judy I really love this look! I think ...
Name: text, dtype: object

What is the type of `tweets`?

In [39]:
type(tweets)

list

Write a list comprehension to display the type of each of the objects in `tweets`.

In [20]:
[type(tw) for tw in tweets]

[twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse,
 twitter.api.TwitterDictResponse]

Import the `json` library.

In [21]:
import json

Create an object called `tweets_string` using `json.dumps()`.

Display the first 500 characters of this string.

In [22]:
json.dumps(tweets)[:500]

'[{"created_at": "Tue Jul 24 00:57:11 +0000 2018", "id": 1021559886453202947, "id_str": "1021559886453202947", "text": "@leo_wizowski @_simplydeee LMFAO \\ud83d\\ude02\\ud83d\\ude02\\ud83d\\ude02", "display_text_range": [27, 36], "source": "<a href=\\"http://twitter.com/download/iphone\\" rel=\\"nofollow\\">Twitter for iPhone</a>", "truncated": false, "in_reply_to_status_id": 1021559749450465280, "in_reply_to_status_id_str": "1021559749450465280", "in_reply_to_user_id": 61876905, "in_reply_to_user_id_str":'

## Write Tweets to Disk

Using this pattern

    with open(filename_as_string, 'w') as outfile:
        json.dump(python_object, outfile)
        
write `tweets` to disk as json.

In [23]:
with open('data.json', 'w') as outfile:
    json.dump(tweets, outfile)

## Read Tweets from Disk

Using this pattern

    with open(filename_as_string) as infile:
        json_data=infile.read()
        python_object_from_disk = json.loads(json_data)
        
read the tweets from the json. Store them as `tweets_from_disk`.

In [24]:
with open('data.json') as infile:
    json_data=infile.read()
    tweets_from_disk = json.loads(json_data)

Display `tweets_from_disk` as a DataFrame.

In [25]:
pd.DataFrame(tweets_from_disk)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,possibly_sensitive,quote_count,reply_count,retweet_count,retweeted,source,text,timestamp_ms,truncated,user
0,None,None,Tue Jul 24 00:57:11 +0000 2018,"[27, 36]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@leo_wizowski @_simplydeee LMFAO 😂😂😂,1532393831252,False,"{'id': 43802582, 'id_str': '43802582', 'name':..."
1,None,None,Tue Jul 24 00:57:11 +0000 2018,"[13, 13]","{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 1021559880862199808, 'id_str...",NaN,0,False,low,...,False,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@TapiaStacey https://t.co/LmsuegctKT,1532393831957,False,"{'id': 3189169938, 'id_str': '3189169938', 'na..."
2,None,None,Tue Jul 24 00:57:12 +0000 2018,"[14, 16]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@sarasalmonxx RT,1532393832213,False,"{'id': 780171209346396160, 'id_str': '78017120..."
3,None,None,Tue Jul 24 00:57:12 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,0,False,"<a href=""http://twitter.com"" rel=""nofollow"">Ge...",TEST_GEO_Hierarchy: 24040ed1-b77e-4342-8fb4-53...,1532393832175,False,"{'id': 758415480881164288, 'id_str': '75841548..."
4,None,None,Tue Jul 24 00:57:12 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,0,False,"<a href=""http://twitter.com"" rel=""nofollow"">Ge...",TEST_GEO_Hierarchy: b1034247-7a5b-4eea-8117-73...,1532393832331,False,"{'id': 758415480881164288, 'id_str': '75841548..."
5,None,"{'type': 'Point', 'coordinates': [-121.7128867...",Tue Jul 24 00:57:12 +0000 2018,NaN,"{'hashtags': [{'text': 'strawberries', 'indice...",NaN,NaN,0,False,low,...,False,0,0,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",#strawberries #strawberrypicking #gizdichranch...,1532393832396,False,"{'id': 54907176, 'id_str': '54907176', 'name':..."
6,None,"{'type': 'Point', 'coordinates': [-118.243, 34...",Tue Jul 24 00:57:12 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,NaN,0,False,low,...,False,0,0,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",@yo_megs as Drake is my energy 😂❤️ with wearem...,1532393832357,False,"{'id': 186131512, 'id_str': '186131512', 'name..."
7,None,"{'type': 'Point', 'coordinates': [-118.2550533...",Tue Jul 24 00:57:12 +0000 2018,NaN,"{'hashtags': [{'text': 'getextra', 'indices': ...",NaN,{'full_text': 'You call it dramatic while I ca...,0,False,low,...,False,0,0,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",You call it dramatic while I call it art. Be e...,1532393832741,True,"{'id': 313710604, 'id_str': '313710604', 'name..."
8,None,"{'type': 'Point', 'coordinates': [-122.47846, ...",Tue Jul 24 00:57:14 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,NaN,0,False,low,...,False,0,0,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",Bay. @ Golden Gate Bridge https://t.co/HDJv5Ex79q,1532393834501,False,"{'id': 2471129989, 'id_str': '2471129989', 'na..."
9,None,"{'type': 'Point', 'coordinates': [-117.3897312...",Tue Jul 24 00:57:15 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': 'Warfighter Made's Adrenalin The...,0,False,low,...,False,0,0,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...","Warfighter Made's Adrenalin Therapy Saturday, ...",1532393835930,True,"{'id': 1340762359, 'id_str': '1340762359', 'na..."